:host{
  .a_distributor_selector_section{
    padding-top: 20px;
  }
}
.a_ds_boxes {}
.a_ds_box {
    background-color: #bcdcf3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    min-height: 190px;
}
